{% set value = {
  label: option.label,
  color: option.color,
} %}

{% set isActive = (
  fieldValue is defined
  and option.color in fieldValue.colors
) %}

<button
  data-field-value="{{ dump(fieldValue) }}"
  data-field-value-colors="{{ dump(fieldValue.colors) }}"
  data-option="{{ dump(option) }}"
  type="button"
  title="{{ option.label }}"
  data-value="{{ value | json_encode }}"
  class="option {% if isActive %}active{% endif %}"
  style="background: {{ value.color | parseRefs | raw }};"
></button>